[user]
	email = kevin.m.dyer@gmail.com
	name = Kevin Dyer
[color]
	ui = auto
[url "https://"]
[url "https://"]
	insteadOf = git://
[core]
	autocrlf = input
	editor = vim
[push]
	default = simple
[pull]
	rebase = true
[rerere]
	enabled = true
[alias]
	s = status -s
	lg = log --oneline --decorate --all --graph
